.site-header a:hover, .site-header a:active, .site-header a:focus {
  color: green;
  text-decoration: none;
}

.site-header .site-title {
  padding-top: 10px;
  font-size: 1.5em;
  font-family: 'Merriweather', serif;
}

.site-header .site-menu {
  font-size: 1.1em;
  padding-top: 20px;
}

.site-header .site-menu .site-menu-link {
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
  border-left: solid 1px #AAA;
}

.site-header .site-menu .site-menu-link:first-child {
  border-left: none;
}
