.measure-list-item {
  padding: 10px;
  margin-top: 0px;
}

.measure-list-item .measure-number {
  font-size: 2.5em;
  font-family: 'Merriweather', serif;
  margin-right: -5px;
}

.measure-list-item .measure-number a:hover, 
.measure-list-item .measure-number a:active, 
.measure-list-item .measure-number a:focus { 
  color: green;
  text-decoration: none;
}

.measure-list-item .measure-description {
  border-left: solid 1px #ddd;
  padding: 15px;
}

.measure-list-item a {
  font-size: 1.25em;
}

hr.measure-list-item-sep {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  border-bottom: solid 1px #ddd;
}

.measure-list-item-year {
  font-size: 2em;
  font-family: 'Merriweather', serif;
  border-bottom: 1px solid #DDD;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
.measure-list-item.active {
  background-color: #EEE;
}

.measure-list-item.active .measure-number {
  color: #337ab7;
  font-weight: bold;
  font-size: 3em;
  font-family: 'Merriweather', serif;
}

.cat-tag {
  display: inline-block;
  cursor: pointer;
  padding: 3px 7px;
  margin: 3px;
  border: solid 1px #DDD;
  border-radius: 5px 5px;
}

.cat-tag:hover {
  background-color: #DDD;
}
