{% extends "layout.html" %}

{% block main %}
<h1>Measure {{measure.number}}</h1>

{% if measure.results %}
<div class="pull-right">
    <form action="{{delete_link}}" method="post" id="delete-form">
        <a href="{{measure_link}}" class="btn btn-default">
            View on Site
        </a>
        <button id="edit-btn" class="btn btn-primary" type="button">Edit</button>
        <button id="view-btn" class="btn btn-primary hidden" type="button">View</button>
        <input id="delete-btn" type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
<br />
<br />
{% endif %}

<div class="display">
    <b>Description:</b><br />
    <p>{{measure.description}}</p>

    <b>Election Date:</b><br />
    <p>{{measure.date}}</p>
</div>

<form action="" method="POST">
    {{form.csrf_token}}
    <div class="edit hidden">
        <div class="form-group">
            {{form.number.label}} {{form.number(class="form-control", type="text")}}
        </div>
        <div class="form-group">
            {{form.date.label}} {{form.date(class="form-control", type="date")}}
        </div>
        <div class="form-group">
            {{form.description.label}} {{form.description(class="form-control")}}
        </div>
    </div>
    <div class="pull-right edit hidden">
        <button id="bulk-update-btn" type="button" class="btn btn-primary">
            Bulk Update
        </button>
        <button id="regular-update-btn" type="button" class="btn btn-primary hidden">
            Regular Update
        </button>
    </div>
    <br />
    <br />
    <table id="measure-results" class="table">
        <tr>
            <th>County</th>
            <th>Yes Votes</th>
            <th>No Votes</th>
        </tr>
        {% if measure.results %}
        {% for r in measure.results %}
        <tr class="display">
            <td>{{r.name}}</td>
            <td>{{r.yes_votes}}</td>
            <td>{{r.no_votes}}</td>
        </tr>
        {% endfor %}
        {% endif %}
        {% for r in counties %}
        <tr class="edit {%if measure.results%}hidden{%endif%}">
            <td>{{r.name}}</td>
            <td>
                <input class="form-control" type="number"
                       value="{{r.yes_votes}}"
                       name="yes_votes" />
            </td>
            <td>
                <input class="form-control" type="number"
                       value="{{r.no_votes}}"
                       name="no_votes" />
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="row hidden" id="results-bulk-update">
        <div class="col-md-4">
            <label for="">Yes Votes</label>
            <p>
                <i>Paste measure results here. Order alphabetically by county.</i>
            </p>
            <textarea class="form-control" name="yes_votes_bulk"
                      rows="36" cols="20"></textarea>
        </div>
        <div class="col-md-offset-2 col-md-4">
            <label for="">No Votes</label>
            <p>
                <i>Paste measure results here. Order alphabetically by county.</i>
            </p>
            <textarea class="form-control" name="no_votes_bulk"
                      rows="36" cols="20"></textarea>
        </div>
    </div>
    <hr class="hidden edit" />
    <div class="form-group">
        <input type="submit" value="Save"
               class="btn btn-primary edit {%if measure.resutls%}hidden{%endif%}"/>
    </div>
</form>
{% endblock %}

{% block extra_scripts %}
<script>
$(document).ready(function(){
    var editing = false;

    $('#edit-btn').on('click', function(){
        $('#edit-btn').addClass('hidden');
        $('#view-btn').removeClass('hidden');

        $('.edit').removeClass('hidden');
        $('.display').hide();

        editing = true;
    });

    $('#view-btn').on('click', function(){
        $('#view-btn').addClass('hidden');
        $('#edit-btn').removeClass('hidden');

        $('.edit').addClass('hidden');
        $('.display').show();

        editing = false;
    });

    $('#delete-btn').on('click', function(e){
        e.preventDefault();
        var r=confirm("Are you sure you want to delete?");

        if (r === true) {
            $('#delete-form').submit();
        }
    });

    $('#bulk-update-btn').on('click', function(e){
        $('#bulk-update-btn').addClass('hidden');
        $('#regular-update-btn').removeClass('hidden');

        $('#measure-results').addClass('hidden');
        $('#results-bulk-update').removeClass('hidden');
    });

    $('#regular-update-btn').on('click', function(e){
        $('#bulk-update-btn').removeClass('hidden');
        $('#regular-update-btn').addClass('hidden');

        $('#measure-results').removeClass('hidden');
        $('#results-bulk-update').addClass('hidden');
    });

});
</script>
{% endblock %}