a {
  color: green;
}

a:hover, a:active, a:focus {
  color: darkgreen;
}


.form-control {
  border-radius: 0px;
  color: black;
}

.input-mdlg {
  font-size: 1.1em;
}

.site-header a:hover, .site-header a:active, .site-header a:focus {
  color: green;
  text-decoration: none;
}

.site-header .site-title {
  padding-top: 10px;
  font-size: 1.5em;
  font-family: 'Merriweather', serif;
}

.site-header .site-menu {
  font-size: 1.1em;
  padding-top: 20px;
}

.site-header .site-menu .site-menu-link {
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
  border-left: solid 1px #AAA;
}

.site-header .site-menu .site-menu-link:first-child {
  border-left: none;
}

.map-title {
  font-size: 1.75em;
  font-family: 'Merriweather', serif;
}

.map-container {
  position: relative;
}

.map-container .search {
  position: absolute;
  top: 0px;
  right: 15px;
  z-index: 9998;
  font-family: 'Merriweather', serif;
}

.map-container .search .glyphicon.glyphicon-search, 
.map-container .search .search-text {
  font-size: 1.5em;
}

.measure-number {
  font-size: 3em;
  font-family: 'Merriweather', serif;
}

.measure-year {
  font-size: 1.75em;
  font-family: 'Merriweather', serif;
}
