[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-login = "*"
flask-bcrypt = "*"
flask-wtf = "*"
"psycopg2" = "*"
gunicorn = "*"


[dev-packages]

