<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Oregon Measures</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/css/bootstrap.min.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    {% endblock %}
</head>
<body>
    <div class="container">
        <ul class="nav nav-pills">
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
            <li><a href="{{ url_for('public.index') }}">Public Site</a></li>
            <li><a href="{{ url_for('admin.create_measure') }}">Create Measure</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% endif %}
        </ul>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"
                      aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
                {{ message }}
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block main %}{% endblock %}
    </div> <!-- /container -->

    {% block scripts %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
    {% endblock %}
    {% block extra_scripts %}{% endblock %}
</body>
</html>
